{% extends 'base.html' %}
{% block title %}
    Registered Buses
{% endblock %}
{% block content %}

<div class="row justify-content-center" style="margin-top:20px; margin-left:10px; margin-right: 0px">
    <div class="col-8 text-center">
        <h2>Registered Buses</h2>
        <br>
        <table class="table table-hover table-dark table-bordered border-dark">
        <thead class="thead-light">
            <tr>
                <th>Bus ID</th>
                <th>Bus Name</th>
                <th>Capacity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bus in buses %}
            <tr>
                <td>{{ bus.id }}</td>
                <td>{{ bus.name }}</td>
                <td>{{ bus.capacity }}</td>
                <td>
                    <a href="{{ url_for('edit_bus', bus_id=bus.id) }}" class="btn btn-primary">Edit</a>
                    <a href="{{ url_for('delete_bus', bus_id=bus.id) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
        </table>
    </div>
</div>

{% endblock %}