{% extends 'base.html' %}
{% block title %}
    Edit bookedUsers
{% endblock %}
{% block content %}

<body class="text-center">
    <div class="container" style="background-color: paleturquoise; margin-top: 20px; width: -webkit-fill-available; height: 360px; border-radius: 25px;">
        <h2>Edit Booking</h2>
        <form method="POST" action="">
            <div class="form-group">
                <label for="bus_id">Bus ID:</label>
                <input type="text" class="form-control" id="bus_id" name="bus_id" value="{{ booking.bus_id }}" required>
            </div>
            <div class="form-group">
                <label for="destination_id">Destination ID:</label>
                <input type="text" class="form-control" id="destination_id" name="destination_id" value="{{ booking.destination_id }}" required>
            </div>
            <div class="form-group">
                <label for="travel_date">Travel Date:</label>
                <input type="date" class="form-control" id="travel_date" name="travel_date" value="{{ booking.travel_date }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Booking</button>
        </form>
    </div>
</body>



{% endblock %}
