{% extends 'header.html' %}
{% block title %}
    Edit bookedUsers
{% endblock %}
{% block content %}

<form method="POST">
    <div>
        <label for="bus_id">Bus ID:</label>
        <input type="text" id="bus_id" name="bus_id" value="{{ booking.bus_id }}" required>
    </div>
    <div>
        <label for="destination_id">Destination ID:</label>
        <input type="text" id="destination_id" name="destination_id" value="{{ booking.destination_id }}" required>
    </div>
    <div>
        <label for="travel_date">Travel Date:</label>
        <input type="date" id="travel_date" name="travel_date" value="{{ booking.travel_date }}" required>
    </div>
    <div>
        <button type="submit">Update Booking</button>
    </div>
</form>

{% endblock %}
