{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('view_users') }}">
    <button>View Users</button>
</a>
<a href="{{ url_for('create_user') }}">
    <button>Create New User</button>
</a>
<a href="{{ url_for('view_buses') }}">
    <button>View Buses</button>
</a>
<a href="{{ url_for('add_bus') }}">
    <button>Add New Bus</button>
</a>
<a href="{{ url_for('view_destinations') }}">
    <button>View Destinations</button>
</a>
<a href="{{ url_for('add_destination') }}">
    <button>Add New Destination</button>

{% endblock %}