<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>
        {% block title %}

        {% endblock %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg"  style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home_page') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if session.logged_in %}
              {% if session.is_admin %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('admin_main') }}">Admin Main</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('view_bookings') }}">Booked Users</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="{{ url_for('admin_panel') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Panel
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url_for('view_users') }}">View Users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('create_user') }}">Create New User</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('view_buses') }}">View Buses</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('add_bus') }}">Add New Bus</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('view_destinations') }}">View Destinations</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('add_destination') }}">Add New Destination</a>
                  </div>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('user_main') }}">User Main</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('bookTicketForm') }}">Book Ticket</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('my_tickets') }}">My Tickets</a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
          <ul class="navbar-nav">
            {% if session.logged_in %}
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{ session.username }}</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register_page') }}">Register</a>
              </li>
            {% endif %}
          </ul>
        </div> 
    </nav> 
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} flash-message">
                <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

      {% block content %}

      {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      // Hide flash messages after 10 seconds
      $(document).ready(function() {
          setTimeout(function() {
              $(".flash-message").alert('close');
          }, 10000);
      });
    </script>
  </body>
  <style>
    body {
        background: linear-gradient(to right, #007bff, #00b8d4);
        font-family: 'Roboto', Arial, sans-serif;
    }
  </style>
</html>