{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <h5 class="msg-info">Please login to your account</h5>

                        <form method="POST" action="{{ url_for('login_page') }}">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label text-muted") }}
                                {{ form.username(class="form-control", placeholder="Username") }}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label text-muted") }}
                                {{ form.password(class="form-control", placeholder="Password") }}
                            </div>
                            <div class="row justify-content-center my-3 px-3">
                                <button type="submit" class="btn-block btn-color">Login</button>
                            </div>
                        </form>

                        <!-- <div class="row justify-content-center my-2">
                            <a href="#"><small class="text-muted">Forgot Password?</small></a>
                        </div> -->
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p class="sm-text mx-auto mb-3">Don't have an account?<a href="{{ url_for('register_page') }}" class="btn btn-white ml-2">Create new</a></p>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">Bus Ticket Booking System</h3>
                    <small class="text-white">Welcome to our bus ticket booking system. This app is still being developed. Stay tuned for more features and improvements to enhance your travel experience.</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}