{% extends "header.html" %}

{% block content %}
<h2>Book Ticket</h2>

<form method="POST" action="{{ url_for('book_ticket') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.bus_id.label }}<br>
        {{ form.bus_id(size=32) }}<br>
        {% for error in form.bus_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.destination_id.label }}<br>
        {{ form.destination_id(size=32) }}<br>
        {% for error in form.destination_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        {{ form.travel_date.label }}<br>
        {{ form.travel_date() }}<br>
        {% for error in form.travel_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    {{ form.user_id() }}
    {{ form.booking_date() }}
    <div>
        {{ form.submit() }}
    </div>
</form>

{% endblock %}